.stepper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
 

  .container{
    background-color: rgb(54, 84, 140);
    border: 20px solid rgb(9, 5, 66);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .stepper {
  
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    .content {
      padding: 10px;
      color: white;
      margin: 0 10px;
      font-size: 20px;
    
    }

    .all {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      border: 2px solid plum;
 
    }

    .start-stepper {
      background-color: green;
    }
    .midle-stepper {
      background-color: rgb(255, 204, 0);
    }
    .finish-stepper {
      background-color: red;
    }
    .not-active {
      background-color: rgb(224, 224, 224);
    }
  }

  .btn {
    padding: 10px;
    color:white;
    margin-bottom: 50px;
    background-color:rgb(8, 4, 65);
    font-size: 20px;
    border: 2px solid plum;
  }
  .btn:hover {
    cursor: pointer;
    background-color:  rgb(17, 12, 92);;
    color: white;
  }
}
